@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Circular+Std:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
}
header {
    display: flex;
    justify-content: space-around
}
.rede {
    padding: 0;
    margin-top: 21px;
    margin-right: -100px;
    margin-left: -50px;
    gap: 10px;
    width: -200px;
}
.hora {
    margin-top: 21px;
    margin-left: -70px;
    margin-right: 6px;
    gap: 10px;
    width: 44px;
    height: 22px;
    size: 17px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
nav {
    height: 32px;
    width: 393px;
    padding: 0;
    margin-right: 40px;
    margin-left: 10;
    gap: 5px;
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
}
.perfil {
    margin-left: 20px;
   
}
.all {
    background-color: #1ED760;
    width: 50px;
    height: 35px;
    padding: 0;
    top: 7px;
    gap: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121212;
    font-family: 'Circular Std', sans-serif;
}

.music {
    background-color: #313131;
    top: 7px;
    gap: 8px;
    color: #DEDEDE;
    border-radius: 16px;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcasts {
    background-color: #313131;
    color: #DEDEDE;
    top: 7px;
    gap: 8px;
    
    border-radius: 16px;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 26px;
    margin-bottom: 8px;
    gap: 12px;
    width: 393px;
    height: 264.4px;
    gap: 8px;
}
.primeiro {
    display: flex;
    justify-content: space-between;
    
    
}
.imagem_1 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 8px;
}

.letra_liked {
    display: flex;
    justify-content: center;
    margin-top: -42px;
    margin-left: 60px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 16px;
    size: 12px;
    

}
.imagem_2 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 50px;

    
}

.letra_all {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-top: -50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    size: 12px;
}

.segundo {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    
}

.imagem_3 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 8px;
}

.letra_dil {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-top: -50px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}

.imagem_4 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 50px;

}

.letra_sangeet {
    display: flex;
    justify-content: center;
    color:#FFFFFF ;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-left: 70px;
    margin-top: -50px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    
}
.terceiro {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}
.imagem_5 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 8px;
}
.letra_hindi {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-left: 60px;
    margin-top: -50px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}
.imagem_6 {
    background-color: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 50px;
}
.letra_mother {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-top: -55px;
    margin-left: 70px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}
