@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Circular+Std:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
}
header {
    
    display: flex;
    justify-content: center;
}
.data_hora {
    width: 402px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 30px;
    
}
.rede {
    color: #FFFFFF;
}

.hora {
    color: #FFFFFF;
    size: 17px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
}
nav {
    padding-bottom: 30px;
    height: 32px;
    
    padding: 0;
    
    gap: 8px;
    
    display: flex;
    justify-content: center;
}
.nav_principal {
    gap: 8px;
    width: 393px;
    display: flex;
    

}
.perfil {
    
   
}
.all {
    background-color: #1ED760;
    width: 50px;
    height: 35px;
    padding: 0;
    top: 7px;
    gap: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121212;
    font-family: 'Circular Std', sans-serif;
}

.music {
    background-color: #313131;
    top: 7px;
    gap: 8px;
    color: #DEDEDE;
    border-radius: 16px;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcasts {
    background-color: #313131;
    color: #DEDEDE;
    top: 7px;
    gap: 8px;
    
    border-radius: 16px;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 393px;
    height: 59vh;
    
}

.inicial {

    display: flex;
    width: 393px;
    height: 265px;
    
}

.grid_menu {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}


.grid_img {
    background: #292929;
    width: 176.5px;
    height: 56px;
    display: flex;
    gap: 8px;
    padding: 0 8px 0 0;
    align-items: center;
} 
p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    
    color: #FFFFFF;
}
/*
.primeiro {
   /* display: flex;
    justify-content: space-between;
}*/    
    

/*
.imagem_1 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 8px;
}

.letra_liked {
    display: flex;
    justify-content: center;
    margin-top: -42px;
    margin-left: 60px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 16px;
    size: 12px;
    

}
.imagem_2 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 30px;
    

    
}

.letra_all {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-left: 65px;
    margin-top: -45px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 16px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
}

.segundo {
  /*  display: flex;
    justify-content: space-between;
    margin-top: 5px;
}    */
    

/*
.imagem_3 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 8px;
}

.letra_dil {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-top: -50px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}

.imagem_4 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 30px;

}

.letra_sangeet {
    display: flex;
    justify-content: center;
    color:#FFFFFF ;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-left: 65px;
    margin-top: -45px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    
}
.terceiro {
  /*  display: flex;
    justify-content: space-between;
    margin-top: 5px;
}*/
/*
.imagem_5 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 8px;
}
.letra_hindi {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-left: 60px;
    margin-top: -50px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}
.imagem_6 {
    background-color: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 30px;
}
.letra_mother {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-top: -55px;
    margin-left: 65px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
}
.quarto {
/*     display: flex;
    justify-content: space-between;
    margin-top: 5px;
}*/

/*
.imagem_7 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 8px;
}
.letra_lofi {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-left: 45px;
    margin-top: -40px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
}
.imagem_8 {
    background: #292929;
    width: 176.5px;
    height: 56px;
    min-width: 140px;
    border-radius: 4px;
    padding: 0px;
    margin-right: 30px;
}
.letra_energy {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 8px;
    width: 103px;
    height: 32px;
    margin-top: -55px;
    margin-left: 70px;
    size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
}
*/