@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-sans: "Inter", sans-serif;
    --text-preset-1: 24px;
    --text-preset-2: 14px;
    --green: hsl(75, 94%, 57%);
    --link-radius: 8px;
    --space-150: 12px;
    --grey-800: hsl(0, 0%, 12%); /* Cor mais escura */
    --grey-700: hsl(0, 0%, 20%); /* Cor intermediária */
    --grey-900: hsl(0, 0%, 8%); /* Cor mais escura */
    --space-200: 16px;
    --space-300: 24px;
    --button-bg-gray: hsl(0, 0%, 35%);
    --button-bg-hover: hsl(220, 80%, 50%);
}

body {
    background: var(--grey-900); /* Cor mais escura */
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-preset-2);
    line-height: var(--text-preset-1);
}

section {
    margin-top: 35px;
    background-color: var(--grey-800); /* Cor intermediária */
    border-radius: 12px;
    width: 50vh;
    padding: 24px;
    margin-inline: 20px;
}

.elemento_pai {
    color: white;
}
header {
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}

main {
    
    text-align: center; /* Coloca no centro */
    margin-inline-start: 0; /* Ajusta a diração no começo para direita para esquerda ou esquerda para direita. Vai depende do idioma*/
    margin-inline-end: 0; /* Ajusta a diração no final para direita para esquerda ou esquerda para direita. Vai depende do idioma*/
}
img {
    height: 30%;
    width: 30%;
    margin-inline: auto;
    border-radius: 50%;
    object-fit: cover;
}
address {
    color: var(--green);
}
nav {
    display: block;
    unicode-bidi: isolate;
}

ul.lista {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 24px;
    
}
ul.lista li {
    margin-bottom: 12px;
}
li{
    display: list-item;
    unicode-bidi: isolate;
    text-align: -webkit-match-parent;
}
a.button {
    display: block;
    background-color: var(--button-bg-gray);
    color: var(--link-text-color);
    text-decoration: none;
    width: 100%;
    border: 0;
    border-radius: var(--link-radius);
    padding: var(--space-150);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    user-select: none;
}
a.button:hover,
a.button:focus {
    background-color: var(--button-bg-hover);
    outline: none;
}